@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@media all and (min-width: 1200px) {
  .hugefont {
    font-size: 60px !important; } }

@media all and (max-width: 1200px) {
  .hugefont {
    font-size: 55px !important; } }

@media all and (max-width: 1024px) {
  .hugefont {
    font-size: 50px !important; } }

@media all and (max-width: 996px) {
  .hugefont {
    font-size: 45px !important; } }

@media all and (max-width: 768px) {
  .hugefont {
    font-size: 40px !important; } }

@media all and (max-width: 576px) {
  .hugefont {
    font-size: 35px !important; } }

@media all and (max-width: 400px) {
  .hugefont {
    font-size: 30px !important; } }

@media all and (min-width: 1200px) {
  .xxlfont {
    font-size: 40px !important; } }

@media all and (max-width: 1200px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 996px) {
  .xxlfont {
    font-size: 30px !important; } }

@media all and (max-width: 768px) {
  .xxlfont {
    font-size: 25px !important; } }

@media all and (max-width: 576px) {
  .xxlfont {
    font-size: 20px !important; } }

@media all and (max-width: 400px) {
  .xxlfont {
    font-size: 18px !important; } }

@media all and (min-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xlfont {
    font-size: 30px !important; } }

@media all and (max-width: 996px) {
  .xlfont {
    font-size: 28px !important; } }

@media all and (max-width: 768px) {
  .xlfont {
    font-size: 24px !important; } }

@media all and (max-width: 576px) {
  .xlfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .xlfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1024px) {
  .lfont {
    font-size: 28px !important; } }

@media all and (max-width: 996px) {
  .lfont {
    font-size: 25px !important; } }

@media all and (max-width: 768px) {
  .lfont {
    font-size: 20px !important; } }

@media all and (max-width: 576px) {
  .lfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .lfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .mfont {
    font-size: 24px !important; } }

@media all and (max-width: 1200px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 1024px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 996px) {
  .mfont {
    font-size: 18px !important; } }

@media all and (max-width: 768px) {
  .mfont {
    font-size: 16px !important; } }

@media all and (max-width: 576px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (max-width: 400px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (min-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1024px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 996px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 768px) {
  .sfont {
    font-size: 14px !important; } }

@media all and (max-width: 576px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (max-width: 400px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (min-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1024px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 996px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 768px) {
  .xsfont {
    font-size: 12px !important; } }

@media all and (max-width: 576px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (max-width: 400px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (min-width: 1200px) {
  .xxsfont {
    font-size: 14px !important; } }

@media all and (max-width: 1200px) {
  .xxsfont {
    font-size: 14px !important; } }

@media all and (max-width: 1024px) {
  .xxsfont {
    font-size: 12px !important; } }

@media all and (max-width: 996px) {
  .xxsfont {
    font-size: 12px !important; } }

@media all and (max-width: 768px) {
  .xxsfont {
    font-size: 10px !important; } }

@media all and (max-width: 576px) {
  .xxsfont {
    font-size: 8px !important; } }

@media all and (max-width: 400px) {
  .xxsfont {
    font-size: 8px !important; } }

.xxlfont,
.xlfont,
.lfont,
.mfont,
.sfont,
.xsfont
.xxsfont {
  letter-spacing: 1px;
  word-spacing: 3px; }

@media all and (min-width: 1200px) {
  .hugefont {
    font-size: 60px !important; } }

@media all and (max-width: 1200px) {
  .hugefont {
    font-size: 55px !important; } }

@media all and (max-width: 1024px) {
  .hugefont {
    font-size: 50px !important; } }

@media all and (max-width: 996px) {
  .hugefont {
    font-size: 45px !important; } }

@media all and (max-width: 768px) {
  .hugefont {
    font-size: 40px !important; } }

@media all and (max-width: 576px) {
  .hugefont {
    font-size: 35px !important; } }

@media all and (max-width: 400px) {
  .hugefont {
    font-size: 30px !important; } }

@media all and (min-width: 1200px) {
  .xxlfont {
    font-size: 40px !important; } }

@media all and (max-width: 1200px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 996px) {
  .xxlfont {
    font-size: 30px !important; } }

@media all and (max-width: 768px) {
  .xxlfont {
    font-size: 25px !important; } }

@media all and (max-width: 576px) {
  .xxlfont {
    font-size: 20px !important; } }

@media all and (max-width: 400px) {
  .xxlfont {
    font-size: 18px !important; } }

@media all and (min-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xlfont {
    font-size: 30px !important; } }

@media all and (max-width: 996px) {
  .xlfont {
    font-size: 28px !important; } }

@media all and (max-width: 768px) {
  .xlfont {
    font-size: 24px !important; } }

@media all and (max-width: 576px) {
  .xlfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .xlfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1024px) {
  .lfont {
    font-size: 28px !important; } }

@media all and (max-width: 996px) {
  .lfont {
    font-size: 25px !important; } }

@media all and (max-width: 768px) {
  .lfont {
    font-size: 20px !important; } }

@media all and (max-width: 576px) {
  .lfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .lfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .mfont {
    font-size: 24px !important; } }

@media all and (max-width: 1200px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 1024px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 996px) {
  .mfont {
    font-size: 18px !important; } }

@media all and (max-width: 768px) {
  .mfont {
    font-size: 16px !important; } }

@media all and (max-width: 576px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (max-width: 400px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (min-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1024px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 996px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 768px) {
  .sfont {
    font-size: 14px !important; } }

@media all and (max-width: 576px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (max-width: 400px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (min-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1024px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 996px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 768px) {
  .xsfont {
    font-size: 12px !important; } }

@media all and (max-width: 576px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (max-width: 400px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (min-width: 1200px) {
  .xxsfont {
    font-size: 14px !important; } }

@media all and (max-width: 1200px) {
  .xxsfont {
    font-size: 14px !important; } }

@media all and (max-width: 1024px) {
  .xxsfont {
    font-size: 12px !important; } }

@media all and (max-width: 996px) {
  .xxsfont {
    font-size: 12px !important; } }

@media all and (max-width: 768px) {
  .xxsfont {
    font-size: 10px !important; } }

@media all and (max-width: 576px) {
  .xxsfont {
    font-size: 8px !important; } }

@media all and (max-width: 400px) {
  .xxsfont {
    font-size: 8px !important; } }

.xxlfont,
.xlfont,
.lfont,
.mfont,
.sfont,
.xsfont
.xxsfont {
  letter-spacing: 1px;
  word-spacing: 3px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#ham {
  width: 35px;
  height: 16px;
  position: fixed;
  top: 70px;
  left: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 99; }
  #ham span {
    display: block;
    position: absolute;
    height: 2px;
    border-radius: 5px;
    background-color: #E1D0A1;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #ham span:nth-child(1) {
      top: 0px;
      width: 100%; }
    #ham span:nth-child(2), #ham span:nth-child(3) {
      top: 7px;
      width: 50%; }
    #ham span:nth-child(4) {
      top: 14px;
      width: 80%; }
  #ham:hover {
    cursor: pointer; }
    #ham:hover span {
      background-color: #E1D0A1; }
      #ham:hover span:nth-child(2), #ham:hover span:nth-child(3) {
        width: 90%; }

#ham.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%; }

#ham.open span:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#ham.open span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#ham.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%; }

@media all and (max-width: 768px) {
  #ham {
    left: 60px; } }

@media all and (max-width: 576px) {
  #ham {
    top: 60px;
    left: 30px; } }

@media all and (max-width: 400px) {
  #ham {
    top: 45px;
    left: 20px; } }

#logoBox {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-52%);
  z-index: 99;
  overflow: hidden; }
  #logoBox a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; }
    #logoBox a svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

@media all and (max-width: 576px) {
  #logoBox {
    width: 180px; } }

@media all and (max-width: 400px) {
  #logoBox {
    top: 0px;
    width: 140px; } }

.inCorner {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 98; }
  .inCorner li {
    margin-right: 25px;
    margin-bottom: 18px; }
    .inCorner li a {
      font-size: 14px;
      font-family: "Cormorant Garamond", serif;
      color: #787878;
      font-weight: 500;
      letter-spacing: 1px;
      word-spacing: 3px;
      display: block;
      text-decoration: none;
      position: relative;
      overflow: hidden; }
      .inCorner li a::after {
        content: "";
        display: block;
        border-bottom: 1px solid #E1D0A1;
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: -100%; }
      .inCorner li a:hover {
        color: #E1D0A1;
        transition: color .4s; }
        .inCorner li a:hover::after {
          left: 0;
          transition: left .6s; }
    .inCorner li:last-child {
      margin-right: 80px; }

@media all and (max-width: 1024px) {
  .inCorner {
    display: none; } }

#menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-flow: row;
  background-color: #1d1d1d;
  z-index: 97;
  display: none; }
  #menu .menuLeft {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    color: #99825E;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 15%;
    height: 100%;
    background-color: rgba(225, 208, 161, 0.8);
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex-shrink: 1;
    overflow: hidden; }
    #menu .menuLeft .menuLeftBack {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../image/back1.png");
      opacity: .1; }
    #menu .menuLeft span {
      margin: 0 0 0 0;
      z-index: 3;
      position: absolute;
      bottom: 20px;
      left: -50px; }
      #menu .menuLeft span p:nth-child(1) {
        font-size: 200px;
        opacity: .2; }
      #menu .menuLeft span p:nth-child(2) {
        font-size: 200px;
        opacity: .2;
        position: absolute;
        top: -8px;
        left: 0px;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #99825E; }
    #menu .menuLeft::before {
      content: "";
      width: 100%;
      height: 125%;
      background-color: #1d1d1d;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(70%) translateY(-55%);
      border-radius: 100%;
      z-index: 4; }
    #menu .menuLeft::after {
      content: "";
      width: 100%;
      height: 125%;
      border-left: 5px solid rgba(29, 29, 29, 0.8);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(68%) translateY(-55%);
      border-radius: 100%;
      z-index: 4; }
  #menu .menuMid {
    width: 50%;
    height: 100%;
    position: relative;
    flex-shrink: 2; }
    #menu .menuMid .menuList {
      width: 100%;
      height: 70%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      list-style: none; }
      #menu .menuMid .menuList li {
        border-bottom: 2px solid #313131;
        width: 100%;
        height: 25%; }
        #menu .menuMid .menuList li a {
          font-size: 90px;
          font-family: "Cormorant Garamond", serif;
          color: transparent;
          font-weight: 600;
          letter-spacing: 1px;
          word-spacing: 3px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          width: 130%;
          height: 100%;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgba(239, 239, 239, 0.6);
          text-decoration: none; }
          #menu .menuMid .menuList li a:hover {
            color: rgba(239, 239, 239, 0.8);
            transition: color .4s; }
    #menu .menuMid .inMenu {
      list-style: none;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 40px;
      right: -60%;
      width: 100%;
      z-index: 98; }
      #menu .menuMid .inMenu li {
        margin-right: 40px;
        margin-bottom: 18px; }
        #menu .menuMid .inMenu li:last-child {
          margin-right: 0; }
        #menu .menuMid .inMenu li a {
          font-size: 16px;
          font-family: "Cormorant Garamond", serif;
          color: #efefef;
          font-weight: 500;
          letter-spacing: 1px;
          word-spacing: 3px;
          display: block;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          opacity: .8; }
          #menu .menuMid .inMenu li a::after {
            content: "";
            display: block;
            border-bottom: 1px solid #E1D0A1;
            width: 100%;
            height: 0;
            position: absolute;
            bottom: 0;
            left: -100%; }
          #menu .menuMid .inMenu li a:hover {
            color: #E1D0A1;
            transition: color .4s; }
            #menu .menuMid .inMenu li a:hover::after {
              left: 0;
              transition: left .6s; }
  #menu .menuRight {
    width: 35%;
    height: 100%;
    position: relative;
    flex-shrink: 2; }
    #menu .menuRight .menuImgBox {
      width: 100%;
      height: 70%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-45%) translateX(-12%);
      overflow: hidden;
      opacity: .7; }
      #menu .menuRight .menuImgBox .menuImg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-width: 100%; }

@media all and (max-width: 1024px) {
  #menu .menuRight .menuImgBox .menuImg {
    top: 80px; } }

@media all and (max-width: 768px) {
  #menu .menuLeft {
    width: 15%;
    flex-shrink: 2; }
    #menu .menuLeft::before {
      display: none; }
    #menu .menuLeft::after {
      display: none; }
  #menu .menuMid {
    width: 85%;
    flex-shrink: 1; }
    #menu .menuMid .menuList {
      transform: translateY(-55%); }
      #menu .menuMid .menuList li a {
        font-size: 80px;
        padding-left: 20px; }
    #menu .menuMid .inMenu {
      bottom: 60px;
      right: 0;
      justify-content: flex-start;
      padding-left: 20px; }
  #menu .menuRight {
    display: none; } }

@media all and (max-width: 576px) {
  #menu .menuLeft {
    width: 10%; }
  #menu .menuMid {
    width: 90%; }
    #menu .menuMid .menuList li a {
      font-size: 60px; }
    #menu .menuMid .inMenu {
      bottom: 50px; } }

@media all and (max-width: 400px) {
  #menu .menuLeft {
    width: 12%; }
  #menu .menuMid {
    width: 88%; }
    #menu .menuMid .menuList li a {
      font-size: 40px; }
    #menu .menuMid .inMenu {
      bottom: 40px; }
      #menu .menuMid .inMenu li {
        margin-right: 30px; }
        #menu .menuMid .inMenu li a {
          font-size: 14px; } }

#login {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center; }
  #login .loginBack {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 91; }
  #login .loginBox {
    width: 50%;
    height: 50%;
    background-color: #1c1c1c;
    z-index: 92;
    border: 1px solid rgba(225, 208, 161, 0.5); }
    @media all and (max-width: 1200px) {
      #login .loginBox {
        width: 60%; } }
    @media all and (max-width: 1024px) {
      #login .loginBox {
        width: 70%; } }
    @media all and (max-width: 768px) {
      #login .loginBox {
        width: 80%; } }
    @media all and (max-width: 576px) {
      #login .loginBox {
        height: 60%; } }
    #login .loginBox .loginlayer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; }
      @media all and (max-width: 576px) {
        #login .loginBox .loginlayer {
          flex-flow: column; } }
    #login .loginBox h1 {
      writing-mode: vertical-lr;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
      background-color: #01041B;
      position: relative;
      font-size: 40px;
      font-family: "Noto Sans TC", sans-serif;
      color: #afafaf;
      font-weight: 400;
      letter-spacing: 1px;
      word-spacing: 3px;
      letter-spacing: 5px; }
      @media all and (max-width: 576px) {
        #login .loginBox h1 {
          width: 100%;
          height: 20%;
          writing-mode: unset;
          order: 1 !important; } }
      @media all and (max-width: 400px) {
        #login .loginBox h1 {
          font-size: 30px; } }
      #login .loginBox h1 button {
        border: 0;
        text-decoration: underline;
        outline: 0;
        margin-top: 40px;
        cursor: pointer;
        background-color: transparent;
        font-size: 10px;
        font-family: "Noto Sans TC", sans-serif;
        color: #efefef;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px;
        letter-spacing: 2px;
        color: #E1D0A1; }
        #login .loginBox h1 button:hover {
          color: orangered;
          transition: all .2s; }
        @media all and (max-width: 576px) {
          #login .loginBox h1 button {
            position: absolute;
            right: 0px;
            bottom: -2px;
            font-size: 10px; } }
    #login .loginBox .logdiv {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 100%; }
      @media all and (max-width: 576px) {
        #login .loginBox .logdiv {
          width: 100%;
          height: 80%; } }
      #login .loginBox .logdiv label {
        width: 100%;
        height: 18%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
        #login .loginBox .logdiv label span {
          display: inline-block;
          text-align: center;
          margin-bottom: 10px;
          font-size: 14px;
          font-family: "Cormorant Garamond", serif;
          color: #efefef;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 3px; }
          @media all and (max-width: 576px) {
            #login .loginBox .logdiv label span {
              margin-bottom: 2px; } }
        #login .loginBox .logdiv label input {
          width: 50%;
          border: 0;
          border-radius: 3px;
          background-color: #efefef;
          height: 20px;
          outline: 0;
          padding-left: 10px;
          font-family: serif;
          font-size: 16px; }
          @media all and (max-width: 576px) {
            #login .loginBox .logdiv label input {
              width: 70%;
              height: 15px; } }
      #login .loginBox .logdiv #loginSubmit {
        margin: 0 auto;
        margin-top: 20px;
        padding: 5px 15px;
        background-color: transparent;
        border: 1px solid #E1D0A1;
        border-radius: 5px;
        outline: 0;
        font-size: 14px;
        font-family: "Cormorant Garamond", serif;
        color: #E1D0A1;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 3px;
        letter-spacing: 3px; }
        #login .loginBox .logdiv #loginSubmit:hover {
          background-color: #E1D0A1;
          color: #7f0020;
          transition: all .3s; }
      #login .loginBox .logdiv #signUpSubmit {
        margin: 0 auto;
        margin-top: 20px;
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid #E1D0A1;
        border-radius: 5px;
        outline: 0;
        font-size: 14px;
        font-family: "Cormorant Garamond", serif;
        color: #E1D0A1;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 3px;
        letter-spacing: 3px; }
        #login .loginBox .logdiv #signUpSubmit:hover {
          background-color: #E1D0A1;
          color: #7f0020;
          transition: all .3s; }
        @media all and (max-width: 576px) {
          #login .loginBox .logdiv #signUpSubmit {
            margin-top: 15px; } }
    #login .loginBox .loginForm {
      order: 3;
      border-left: 1px solid rgba(225, 208, 161, 0.5); }
      @media all and (max-width: 576px) {
        #login .loginBox .loginForm {
          border-left: 0;
          border-top: 1px solid rgba(225, 208, 161, 0.5); } }
    #login .loginBox .signForm {
      order: 1;
      border-right: 1px solid rgba(225, 208, 161, 0.5); }
      @media all and (max-width: 576px) {
        #login .loginBox .signForm {
          border-left: 0;
          border-top: 1px solid rgba(225, 208, 161, 0.5); } }

[v-cloak] {
  opacity: 0; }

body {
  background-color: #efefef;
  margin: 0px;
  height: 100vh;
  text-align: center;
  position: relative; }

.anyl-background {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0; }
  @media screen and (max-width: 1199px) {
    .anyl-background {
      width: 100%; } }
  .anyl-background img {
    width: 100%;
    height: 100%; }

.anyl-main {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1200px) {
    .anyl-main {
      flex-direction: row;
      justify-content: space-between; } }
  .anyl-main .timeBlock {
    position: relative;
    display: flex;
    margin: 5px auto 0px;
    flex-direction: column;
    justify-self: start;
    text-align: center;
    width: 30%;
    margin-top: 100px; }
    @media screen and (max-width: 1199px) {
      .anyl-main .timeBlock {
        width: 100%;
        margin-top: 10px; } }
    @media screen and (max-width: 450px) {
      .anyl-main .timeBlock {
        font-size: 20px;
        font-family: "Noto Serif TC", serif;
        color: #efefef;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px;
        margin: 0; } }
    .anyl-main .timeBlock .anylTime {
      display: flex;
      width: 50%;
      margin: 0 auto;
      height: 80px; }
      @media screen and (max-width: 1199px) {
        .anyl-main .timeBlock .anylTime {
          display: none; } }
      .anyl-main .timeBlock .anylTime #dayTimeBlock {
        margin: 10px auto;
        font-size: 20px;
        font-family: "Noto Serif TC", serif;
        color: #3B3333;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px;
        width: 100px;
        height: 120px;
        margin-top: 10px;
        display: flex;
        flex-direction: column; }
        .anyl-main .timeBlock .anylTime #dayTimeBlock #dayMonth {
          font-size: 50px; }
        .anyl-main .timeBlock .anylTime #dayTimeBlock #dayDay {
          margin-left: 20px; }
      .anyl-main .timeBlock .anylTime img {
        width: 100px;
        height: 100px;
        margin-left: 10px; }
        @media screen and (max-width: 1199px) {
          .anyl-main .timeBlock .anylTime img {
            display: none; } }
    .anyl-main .timeBlock .anyl-timeChoose {
      margin: 0px auto;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .anyl-main .timeBlock .anyl-timeChoose .choose {
        display: flex;
        justify-content: space-between;
        border: 3px solid #efefef;
        padding: 15px 20px 45px;
        margin-top: 27px;
        position: relative; }
        @media screen and (max-width: 1199px) {
          .anyl-main .timeBlock .anyl-timeChoose .choose {
            justify-content: center;
            width: 50%;
            margin-right: 10px;
            margin-left: 10px;
            padding: 15px 0px 10px 10px; } }
        @media screen and (max-width: 500px) {
          .anyl-main .timeBlock .anyl-timeChoose .choose {
            margin: 20px;
            padding: 0;
            border: none; } }
        @media screen and (max-width: 450px) {
          .anyl-main .timeBlock .anyl-timeChoose .choose {
            margin: 10px;
            padding: 0;
            border: none; } }
      .anyl-main .timeBlock .anyl-timeChoose .useTime::before {
        content: '步驟一';
        width: 34px;
        height: 100px;
        border: 1px solid #efefef;
        background-color: #efefef;
        position: absolute;
        left: -39px;
        top: 0;
        writing-mode: vertical-rl;
        text-align: center;
        font-size: 20px;
        font-family: "Noto Serif TC", serif;
        color: #292929;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px; }
        @media screen and (max-width: 1199px) {
          .anyl-main .timeBlock .anyl-timeChoose .useTime::before {
            writing-mode: vertical-lr;
            width: 100px;
            height: 34px;
            left: 0;
            top: -37px; } }
  @media screen and (max-width: 1199px) and (max-width: 500px) {
    .anyl-main .timeBlock .anyl-timeChoose .useTime::before {
      content: '';
      width: 0;
      height: 0; } }
      .anyl-main .timeBlock .anyl-timeChoose .seasonTime::before {
        content: '步驟二';
        width: 34px;
        height: 100px;
        border: 1px solid #efefef;
        background-color: #efefef;
        position: absolute;
        left: -39px;
        top: 0;
        writing-mode: vertical-rl;
        text-align: center;
        font-size: 20px;
        font-family: "Noto Serif TC", serif;
        color: #292929;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px; }
        @media screen and (max-width: 1199px) {
          .anyl-main .timeBlock .anyl-timeChoose .seasonTime::before {
            writing-mode: vertical-lr;
            width: 100px;
            height: 34px;
            left: 0;
            top: -37px; } }
        @media screen and (max-width: 500px) {
          .anyl-main .timeBlock .anyl-timeChoose .seasonTime::before {
            content: '';
            width: 0;
            height: 0; } }
      @media screen and (max-width: 1199px) {
        .anyl-main .timeBlock .anyl-timeChoose {
          flex-direction: row; } }
      @media screen and (min-width: 1200px) {
        .anyl-main .timeBlock .anyl-timeChoose {
          height: 200px; } }
      .anyl-main .timeBlock .anyl-timeChoose .anyl-button1 {
        width: 40%;
        height: 30%;
        position: relative;
        font-size: 26px;
        font-family: "Noto Serif TC", serif;
        color: grey;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px;
        height: 50px;
        text-transform: uppercase;
        color: rgba(239, 239, 239, 0.6);
        background: grey;
        border: none;
        transform-style: preserve-3d;
        transition: transform 150ms linear;
        background: 150ms cubic-bezier(0, 0, 0.58, 1);
        cursor: pointer;
        text-decoration: none;
        outline: none; }
        @media screen and (max-width: 1199px) {
          .anyl-main .timeBlock .anyl-timeChoose .anyl-button1 {
            width: 40%;
            margin-right: 30px; } }
        @media screen and (max-width: 500px) {
          .anyl-main .timeBlock .anyl-timeChoose .anyl-button1 {
            margin-right: 10px;
            font-size: 25px;
            font-family: "Noto Serif TC", serif;
            color: #efefef;
            font-weight: 400;
            letter-spacing: 1px;
            word-spacing: 3px; } }
        @media screen and (max-width: 450px) {
          .anyl-main .timeBlock .anyl-timeChoose .anyl-button1 {
            font-size: 20px;
            font-family: "Noto Serif TC", serif;
            color: #efefef;
            font-weight: 400;
            letter-spacing: 1px;
            word-spacing: 3px; } }
        .anyl-main .timeBlock .anyl-timeChoose .anyl-button1::before {
          position: absolute;
          content: '';
          width: 91%;
          height: 73%;
          left: 0;
          right: 0;
          bottom: 13px;
          background: #444444;
          border-radius: 0.75em;
          box-shadow: 10px 10px 10px #525252;
          transform: translate3d(0.5em, 0.5em, -1em);
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
        .anyl-main .timeBlock .anyl-timeChoose .anyl-button1:hover {
          background: grey;
          transform: translate(0, 0.25em); }
          .anyl-main .timeBlock .anyl-timeChoose .anyl-button1:hover::before {
            box-shadow: 10px 10px 10px #292929;
            transform: translate3d(0.25em, 0.25em, -1em); }
        .anyl-main .timeBlock .anyl-timeChoose .anyl-button1:active {
          background: grey;
          transform: translate(0em, 0.75em); }
          .anyl-main .timeBlock .anyl-timeChoose .anyl-button1:active::before {
            box-shadow: 10px 10px 10px #292929;
            transform: translate3d(0, 0, -1em); }

.anyl-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  width: 70%;
  height: 80%;
  opacity: 1;
  transition: display .5s linear;
  margin-top: 120px; }
  @media screen and (min-width: 1200px) {
    .anyl-item {
      width: 100%;
      margin-top: 150px; } }
  @media screen and (max-width: 1199px) {
    .anyl-item {
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .anyl-item {
      height: 64%; } }
  .anyl-item .anyl-product {
    display: flex;
    margin: 12px auto 0;
    width: 500px;
    opacity: 1; }
    @media screen and (min-width: 1200px) {
      .anyl-item .anyl-product {
        width: 35%;
        margin: 12px auto 0 25px; } }
    @media screen and (max-width: 767px) {
      .anyl-item .anyl-product {
        width: 80%;
        margin: 12px auto 0; } }
    .anyl-item .anyl-product .item {
      margin: 10px;
      background-color: #afafaf;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      z-index: 1; }
      @media screen and (max-width: 450px) {
        .anyl-item .anyl-product .item {
          width: 60px;
          height: 60px;
          border-radius: 30px; } }
      .anyl-item .anyl-product .item img {
        width: 100px;
        height: 115px;
        position: relative; }
        @media screen and (max-width: 450px) {
          .anyl-item .anyl-product .item img {
            width: 60px;
            height: 55px; } }
    .anyl-item .anyl-product .anyl-shadow {
      width: 430px;
      font-size: 10px;
      font-family: "Noto Serif TC", serif;
      color: black;
      font-weight: 400;
      letter-spacing: 1px;
      word-spacing: 3px;
      height: 140px;
      border-radius: 75px;
      background-color: rgba(239, 239, 239, 0.8);
      position: absolute; }
      @media screen and (min-width: 1200px) {
        .anyl-item .anyl-product .anyl-shadow {
          width: 34%;
          max-width: 450px; } }
      @media screen and (max-width: 450px) {
        .anyl-item .anyl-product .anyl-shadow {
          width: 85%;
          height: 80px;
          font-size: 1px;
          font-family: "Noto Serif TC", serif;
          color: black;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 3px; } }
      .anyl-item .anyl-product .anyl-shadow h1 {
        margin-top: 18px;
        margin-left: 50px; }
        @media screen and (max-width: 450px) {
          .anyl-item .anyl-product .anyl-shadow h1 {
            width: 200px;
            margin: 10px auto 0px; } }
      @media screen and (max-width: 450px) {
        .anyl-item .anyl-product .anyl-shadow p {
          font-size: 10px;
          font-family: "Noto Serif TC", serif;
          color: #292929;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 3px; } }
      .anyl-item .anyl-product .anyl-shadow .type .usetime p {
        font-size: 15px;
        font-family: "Noto Serif TC", serif;
        color: #292929;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px; }
        @media screen and (max-width: 450px) {
          .anyl-item .anyl-product .anyl-shadow .type .usetime p {
            font-size: 10px;
            width: 200px;
            margin: 0 auto; } }
      .anyl-item .anyl-product .anyl-shadow .type .detail {
        margin-left: 140px;
        display: flex; }
        @media screen and (max-width: 450px) {
          .anyl-item .anyl-product .anyl-shadow .type .detail {
            font-size: 10px;
            font-family: "Noto Serif TC", serif;
            color: #292929;
            font-weight: 400;
            letter-spacing: 1px;
            word-spacing: 3px;
            margin-left: 70px; } }
      .anyl-item .anyl-product .anyl-shadow .type .memcart {
        align-items: center;
        cursor: pointer;
        width: 140px;
        height: 35px;
        text-align: center;
        margin-top: 10px;
        background-color: rgba(239, 239, 239, 0.8);
        border: none;
        outline: none;
        font-size: 16px;
        font-family: "Noto Serif TC", serif;
        color: #292929;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 3px;
        transition: background-color 0.5s,color .5; }
        @media screen and (max-width: 450px) {
          .anyl-item .anyl-product .anyl-shadow .type .memcart {
            height: 20px;
            width: 115px; } }
        .anyl-item .anyl-product .anyl-shadow .type .memcart p {
          margin-top: 6px;
          font-size: 16px;
          font-family: "Noto Serif TC", serif;
          color: #292929;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 3px; }
          @media screen and (max-width: 450px) {
            .anyl-item .anyl-product .anyl-shadow .type .memcart p {
              margin-top: 0px;
              font-size: 14px; } }
        .anyl-item .anyl-product .anyl-shadow .type .memcart:hover {
          background-color: #AE5F5F;
          transition: background-color 0.5s,color .5s; }
          .anyl-item .anyl-product .anyl-shadow .type .memcart:hover p {
            color: #efefef; }
      .anyl-item .anyl-product .anyl-shadow .type a {
        cursor: pointer;
        width: 70px;
        margin-left: 5px;
        text-align: center;
        margin-top: 10px;
        background-color: rgba(239, 239, 239, 0.8);
        border: none;
        outline: none;
        transition: background-color 0.5s,color .5s; }
        .anyl-item .anyl-product .anyl-shadow .type a p {
          font-size: 16px;
          font-family: "Noto Serif TC", serif;
          color: #292929;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 3px;
          margin-top: 6px; }
          @media screen and (max-width: 450px) {
            .anyl-item .anyl-product .anyl-shadow .type a p {
              font-size: 14px;
              margin-top: 0; } }
        .anyl-item .anyl-product .anyl-shadow .type a:hover {
          background-color: #AE5F5F;
          transition: background-color 0.5s,color .5s; }
          .anyl-item .anyl-product .anyl-shadow .type a:hover p {
            color: #efefef; }
      .anyl-item .anyl-product .anyl-shadow .type a:link {
        text-decoration: none;
        color: #292929; }
      .anyl-item .anyl-product .anyl-shadow .type a:active {
        text-decoration: none;
        color: #292929; }
      .anyl-item .anyl-product .anyl-shadow .type a:visited {
        text-decoration: none;
        color: #292929; }

.anyl-button {
  font-size: 30px;
  font-family: "Noto Serif TC", serif;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 3px;
  cursor: pointer;
  line-height: 15px;
  width: 20%;
  height: 35vh;
  position: absolute;
  bottom: 0;
  right: 0px;
  background-color: #935C4D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1199px) {
    .anyl-button {
      display: none; } }
  .anyl-button p {
    margin: 25px; }

.anyl-button2 {
  cursor: pointer;
  writing-mode: vertical-rl;
  font-size: 22px;
  font-family: "Noto Serif TC", serif;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 3px;
  position: fixed;
  right: -32px;
  top: 40%;
  width: 80px;
  height: 200px;
  margin: 10px auto;
  z-index: 1;
  background-color: #935C4D; }
  @media screen and (min-width: 1199px) {
    .anyl-button2 {
      display: none; } }
  .anyl-button2 a {
    margin-top: 15px;
    color: white;
    text-decoration: none;
    text-align: center; }
    .anyl-button2 a:active {
      color: white; }
    .anyl-button2 a:focus {
      color: white; }
    .anyl-button2 a:visited {
      color: white; }
    .anyl-button2 a p {
      margin: 5px; }
      @media screen and (min-width: 1200px) {
        .anyl-button2 a p {
          margin: 25px; } }
      @media screen and (max-width: 450px) {
        .anyl-button2 a p {
          margin-right: revert; } }
  @media screen and (max-width: 450px) {
    .anyl-button2 {
      width: 60px;
      height: 150px;
      font-size: 15px; } }

#anyl-background1 {
  display: none; }

#anyl-background2 {
  display: none; }

#anyl-background3 {
  display: none; }

#anyl-background4 {
  display: none; }

.skinCare_icon-1 {
  display: none; }

.skinCare_icon-2 {
  display: none; }

.skinCare_icon-3 {
  display: none; }

.skinCare_icon-4 {
  display: none; }
